@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.bg-primary{
    background-color: rgba(255, 144, 14, 0.1);
}

.brand{

    font-weight: bold;
    font-size: 3rem;
    color: #131313;
    margin: auto 0;
}
.display-flex{
    display: flex;
}

.btn{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    background: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    cursor: pointer;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

/* header styles */

/* .header{
    padding: 50px 240px; 
}*/

/* nav styles */

.navbar{
    justify-content: space-between;
    align-items:center;
    justify-items: center;
    
    
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.nav-item {
    list-style: none;
    margin: 1rem;
}
.nav-links{
    padding: 0;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size:1.2rem;;
    color:#424242;
  
}

/* banner styles */

.banner{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
       
}
.banner-heading{
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    color: #131313;
}
 
.banner-content{
    text-align: center;
    max-width: 860px;
}

.description-design{
    font-size: 1rem;
    color: #727272;
}
 .banner-image img{
    width: 100%;
    
 }   


/* main styles */

.container{
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 80px;
    margin-bottom: 100px;
    
}
.team{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}
.features{
    max-width: 530px;
}

.heading-design{
    color: #727272;
    font-weight: 500;
}
.heading-style{
    color:#FF900E;
}



/* all features styles */

/* .all-features{
    max-width: 585px;
    margin: 0 auto;
    margin-top: 185px;
}
.feature-name{
    font-weight: 600;
    font-size: 1.4rem;
    color: #131313;
} */


/* Some facts */

.fact-container{
     display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-items: center;
   
}

.fact-card{
    text-align: center;
   border: 1px solid #FF900E;
   border-radius: 8px;
   height: 240px;
   width: 240px;
   display: flex;
   justify-content: center;
   align-items: center;
  ;
  
}


.fact-description{
            max-width: 540px;
            margin-bottom: 50px;
            margin-top: 20px;
    
}

.fact-name{
    font-weight: 600;
    font-size: 1.4rem;
    color: #727272;
    margin-top: 0;
    margin-bottom: 10px;
}
.fact-number{
    font-weight: 600;
    font-size: 3rem;
    color: #424242;
    margin-top: 5px;
    margin-bottom:10px;

}

.conclusion {
   display: flex;
   justify-content: center;
    align-items: center;
    margin-top:140px;
    margin-bottom: 20px;
        
}

.sponser-image{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    margin-bottom: 130px;
}
.sponser-image img{
    filter:grayscale(100%);
}

.copy-write{
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 200px;
}
.reserved{
    padding: 35px 380px;
    font-size: 1.3rem;

}


@media screen and (max-width: 576px){
    .navbar{
        flex-direction: column-reverse;
       
        
    }

    .nav-item{
        margin:10px;
    }
    .banner-heading{
        font-size: 2.5rem;
    }


    .container{
        flex-direction: column;
    }
    .team{
        grid-template-columns: repeat(1, 1fr);
    }
    .team img{
        width: 100%;
    }
    .features{
        margin: 0 20px;
    }

    .fact-container{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10px;
        justify-content: center;
        align-items: center;
    }
        .sponser-image{
            flex-direction:column ;
        }
    .reserved{
    padding: 35px 80px;
    }
}
